.modal {
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    position: fixed;
}


.modal-content {
    position: absolute;
    bottom: 1em;
    right: 1rem;
    line-height: 1.4;
    background: $secondaireBackground;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    color: $secondaire;

    animation: modal 5.2s ease-in-out;
}

@keyframes modal {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    60% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
    }
}