.posts {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 700px;
    overflow: auto;
    align-items: center;

    &__separator {
        width: 100%;
        margin: 2rem 0;
        height: 1.5px;
        border: 1.5px solid white;
        box-sizing: border-box;
    }

    &__card {
        width: 100%;
        min-height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        &__upload {
            display: flex;
            gap: 1rem;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding-bottom: .3rem;
            width: 95%;

            &__user {
                display: flex;
                align-items: center;
                color: $tertiaire;

                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    margin-right: .5rem;
                }

                h3 {
                    font-size: 1.1rem;
                    height: 1.5rem;
                    letter-spacing: .1rem;
                    font-weight: 600;
                    color: $tertiaire;
                    overflow: hidden;
                }
            }

            &__date {
                display: flex;
                align-items: center;
                font-size: .8rem;
                color: $tertiaire;
            }
        }

        &__body {
            min-height: 5rem;
            width: 100%;
            border-bottom: 1px solid $secondaire;
            box-shadow: $shadowPrimaire;
            background-color: rgba(255, 255, 255, 0.7);
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;

            &__message {
                padding: .3rem;
                font-size: 1.1rem;
                color: $tertiaire;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }

            &__pic {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;

                &--single {
                    padding-top: .5rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &--multiple,
                &--multiple2 {
                    width: 50%;
                    object-fit: cover;
                    height: 10rem;
                    display: flex;
                    object-fit: cover;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    max-height: 100vh;
                    overflow: scroll;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    p {
                        font-size: 3rem;
                        color: #ffcece;
                        font-weight: 600;
                    }

                    &--more {
                        position: absolute;
                        bottom: 25%;
                        right: 25%;
                        width: 50%;
                        height: 50%;
                        background: #0000009e;
                        transform: translate(50%, 50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            font-size: 2rem;
                            color: #ffcece;
                            font-weight: 600;
                        }
                    }

                }

            }

            &__video {

                width: 100%;
                min-height: 20rem;

                iframe {
                    width: 100%;
                    min-height: 20rem;
                    object-fit: cover;
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            align-items: center;
            padding: .2rem;

            &__like {
                display: flex;
                align-items: center;

                &__icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .5rem;
                }
            }

            &__comments {
                display: flex;
                align-items: center;
                color: $tertiaire;

                &__icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .5rem;
                }
            }
        }

        &__updated {
            display: flex;
            gap: 0.2rem;
        }
    }
}

.preview {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #FFD7D7;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        height: 8px;
        width: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondaire;
        border-radius: 20px;
        border: 3px solid $primaire;
    }

    align-items: center;
    gap: 5vw;

    &__content {
        position: relative;
        min-width: 95vw;
        width: auto;
        scroll-snap-align: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.moreMessage {
    .posts__card__body__message {
        display: block;
        max-height: 15rem;
        overflow: scroll;

        &::-webkit-scrollbar {
            height: 12px;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $secondaire;
            border-radius: 20px;
            border: 3px solid $primaire;
        }
    }
}

.buttonMinus {
    width: 50%;
    background: rgba(0, 0, 0, 0.6196078431);
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts__card__body__pic--multiple2 {
    &:last-child {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .posts {
        max-height: 75vh;
        overflow: scroll;
        padding: 0 .5rem;
        padding-top: 1rem;

        &::-webkit-scrollbar {
            height: 0;
            width: .7rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $secondaire;
            border-radius: 20px;
            border: 3px solid $tertiaire;
        }
    }

    .preview {
        gap: 1rem;

        &__content {
            min-width: 95%;
            max-height: 30rem;
        }
    }

}